*{
    margin: 0;
    padding: 0;
}

.register-form{
    position: relative;
    display: block;
    justify-content: center;
    margin: 0 auto;
}

.sign-up{
    margin: 1rem;
}

.join-title{
    margin: 1rem;
}

.joinBtns{
    display: flex;
    flex-direction: column;
}

.googleBtn{
    margin-top: 1rem;
}

.googleBtn,.appleBtn{
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 216px;
}

.accountBtn{
    border-radius: 216px;
}

.login{
    margin: 1rem;
}

.login .link{
    position: relative;
    margin-top: 0.5rem;
    color: #1E88E5;
    padding: 0.5rem;
}